@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
    }
}

.skill {
    @apply flex flex-col gap-0.5 rounded-lg items-center hover:scale-110 transition-transform duration-500 bg-slate-900/60 p-3 shadow-lg shadow-teal-500/50 hover:shadow-teal-500/70 hover:bg-slate-900/100 text-sm font-semibold;
}

.skill-icon {
    @apply w-10 h-10 mb-2 opacity-75 group-hover:opacity-100 transition-opacity duration-500;
}

.language {
    @apply flex flex-col items-center justify-center p-1 font-bold;
}

.fixed-title-container {
    @apply fixed left-0 top-0 p-2 z-10 bg-gradient-to-tr from-gray-900 to-teal-950/95 w-full text-2xl shadow-md shadow-teal-900/50;
}

.fixed-title-container svg {
    animation: bounce 0.7s ease-out;
}
